# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Dataset folder (do not commit!)
daic_data/

# System-generated hidden files
.DS_Store
.ipynb_checkpoints/
